<a data-role="button" id='addFav' data-icon="star" data-iconpos="notext" data-theme="a" data-inline="true" class="ui-link ui-btn ui-btn-a ui-icon-star ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all" role="button"></a>
<h1 class="detail">
	Detalle de la propiedad
</h1>
<p class="titulo dateend"></p>
<br>
<div class="wrapperItems">
	<ul class="seleccion">
		<li class="item">
			<div class="columns twelve general">
				<div class="item-block">
					<a>
						<p class="name"></p>
						<p class="name-2"></p>
					</a>
				</div>
				<div class="row contenedor">
					<div class="columns twelve imagen">
						<a class="link">
							<div class="image-block"></div>
						</a>
					</div>
					<div class="contenedor-precio-dato">
						<div class="columns twelve  precio">
							<p><span></span></p>
						</div>
						<div class="columns twelve  datos">
							<div class="calif caball"> Tipo<span class="type-data"></span>
						</div>
						<div class="columns four  caball">Operación<span class="operation-data"></span></div>
						<div class="columns four  rend">Estado. <span class="condition-data"></span></div>
					</div>
				</div>
			</div>
		</div>
		</li>
	</ul>
</div>

<p class="titulo">Datos del anunciante :</p>
<br>
<span class="detail-propiedad">
	<ul class='contact-detail'>
		<li class='contact-detail-name'><b>Nombre:</b> <span></span></li>
		<li class='contact-detail-email'><b>Email:</b> <span></span></li>
		<li class='contact-detail-phone'><b>Telefono:</b> <span></span></li>
		<li class='contact-detail-area'><b>Codigo de area:</b> <span></span></li>
	</ul>
</span>
<br>
<p class="titulo">Ubicación :</p>
<br>
<div id="wrapper-map"></div>
</div>

<div data-role="footer" data-position="fixed" data-theme="b">
<div  data-role="navbar">
	<ul>
		<li><a href="" data-icon="star">Favs</a></li>
		<li><a href="#inicio" data-icon="grid">Home</a></li>
		<li><a href="#filtrosCasas" data-icon="gear">Filters</a></li>
	</ul>
</div>
</div>